[submodule "branch-extend-iuniversal"]
	path = branch-extend-iuniversal
	url = git@github.com:xmarts/branch-extend-iuniversal.git
[submodule "purchase-subscriptions"]
	path = purchase-subscriptions
	url = git@github.com:xmarts/purchase-subscriptions.git
[submodule "xmarts-property-management"]
	path = xmarts-property-management
	url = git@github.com:xmarts/xmarts-property-management.git
[submodule "multi-branch"]
	path = multi-branch
	url = git@github.com:xmarts/multi-branch.git
